section.main-menu{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 15px;
}

section.main-menu img{
    box-sizing: border-box;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px rgba(27, 26, 26, 0.434);
    margin-bottom: 20px;
}

section.main-menu img:hover{
    border: 2px solid rgba(255, 255, 255, 0.523);
    transform: translate(-3px, -3px);
    transition: transform .3s;
    box-shadow: 4px 4px rgba(27, 26, 26, 0.434);

}