
html, body{
    height: 100vh;
    width: 100vw;
    background-color:beige;
}

body{
    background: url(/image/fundo-madeira.jpg) 
    no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}







