
html, body{
    height: 100vh;
    width: 100vw;
    background-color:beige;
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(27,36,173,1) 99%);
}







