@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color:beige;
}

body{
    background: url(/image/fundo-madeira.jpg) 
    no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

section.phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(/image/frame-iphone.png) no-repeat;
}

section.social-media{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 15px;
}

section.social-media img{
    box-sizing: border-box;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px rgba(27, 26, 26, 0.434);
    margin-bottom: 20px;
}

section.social-media img:hover{
    border: 2px solid rgba(255, 255, 255, 0.523);
    transform: translate(-3px, -3px);
    transition: transform .3s;
    box-shadow: 4px 4px rgba(27, 26, 26, 0.434);

}

iframe.screen{
    position: relative;
    top: 80px;
    left: 22.5px;
    width: 265px;
    height: 470px;
}

